/* Default */
/* ------------------------------------------------------------------ */

html {
  color: black;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  font-size: 125%;
  hyphens: none;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 112.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  hyphens: none;
  margin: 0;
}

.h1,
h1 {
  font-size: 1.728rem;
}

.h2,
h2 {
  font-size: 1.44rem;
}

.h3,
h3 {
  font-size: 1.2rem;
}

.h4,
h4 {
  font-size: 1rem;
}

.h5,
h5 {
  font-size: 0.833rem;
}

.h6,
h6 {
  font-size: 0.694rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: initial;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

button,
input,
optgroup,
select,
textarea {
  background-color: transparent;
  border: 0;
  color: inherit;
  line-height: 1.6;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

/* Sidebar */
/* ------------------------------------------------------------------ */

body {
  display: flex;
  font-family: sans-serif;
}

aside {
  background-color: sandybrown;
  color: white;
  flex: 25% 0 0;
  height: 100vh;
}

main {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 3rem;
}

h1 {
  color: chocolate;
}

/* ------------------------------------------------------------------ */

.logotype {
  padding: 2rem 1rem;
}

/* ------------------------------------------------------------------ */

.tab__link {
  background-color: peru;
  display: block;
  font-weight: 700;
  padding: 1rem;
  text-decoration: none;
}

.tab__link:hover {
  background-color: saddlebrown;
}

/* ------------------------------------------------------------------ */

.tab__link--current {
  background-color: chocolate;
  text-decoration: underline;
}

.tab__link--current:hover {
  text-decoration: underline;
}

/* Table View */
/* ------------------------------------------------------------------ */

.empty-table-view {
  background-color: gainsboro;
  border-radius: 0.5rem;
  color: gray;
  display: block;
  font-weight: 700;
  padding: 2rem;
}

/* Buttons */
/* ------------------------------------------------------------------ */

.green-button {
  background-color: limegreen;
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-weight: 700;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
}

.green-button:hover {
  background-color: forestgreen;
  cursor: pointer;
}

/* Forms */
/* ------------------------------------------------------------------ */

label {
  color: saddlebrown;
  font-weight: 700;
}

.textbox,
.textbox-area {
  background-color: whitesmoke;
  border-radius: 0.5rem;
  color: black;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
}
