/* Default */
/* ------------------------------------------------------------------ */

html {
  color: black;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  font-size: 125%;
  hyphens: none;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 112.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  hyphens: none;
  margin: 0;
}

.h1,
h1 {
  font-size: 1.728rem;
}

.h2,
h2 {
  font-size: 1.44rem;
}

.h3,
h3 {
  font-size: 1.2rem;
}

.h4,
h4 {
  font-size: 1rem;
}

.h5,
h5 {
  font-size: 0.833rem;
}

.h6,
h6 {
  font-size: 0.694rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: initial;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

button,
input,
optgroup,
select,
textarea {
  background-color: transparent;
  border: 0;
  color: inherit;
  line-height: 1.6;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

/* Sidebar */
/* ------------------------------------------------------------------ */

body {
  display: flex;
  font-family: sans-serif;
}

aside {
  background-color: sandybrown;
  color: white;
  flex: 25% 0 0;
  height: 100vh;
}

main {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 5rem 3rem;
}

h1 {
  color: chocolate;
}

.container {
  margin: auto;
  max-width: 32rem;
}

/* ------------------------------------------------------------------ */

.logotype {
  padding: 2rem 1rem;
}

/* ------------------------------------------------------------------ */

.tab__link {
  background-color: peru;
  display: block;
  font-weight: 700;
  padding: 1rem;
  text-decoration: none;
}

.tab__link:hover {
  background-color: saddlebrown;
}

/* ------------------------------------------------------------------ */

.tab__link--current {
  background-color: chocolate;
  text-decoration: underline;
}

.tab__link--current:hover {
  text-decoration: underline;
}

/* Buttons */
/* ------------------------------------------------------------------ */

.green-button {
  background-color: limegreen;
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-weight: 700;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
}

.green-button:hover {
  background-color: forestgreen;
  cursor: pointer;
}

/* Forms */
/* ------------------------------------------------------------------ */

label {
  color: saddlebrown;
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.textbox,
.textbox-area {
  background-color: whitesmoke;
  border-radius: 0.5rem;
  color: black;
  display: block;
  padding: 0.75rem;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.833rem;
  font-weight: 400;
}

.error:not(:empty)::before {
  content: "* ";
}

/* ------------------------------------------------------------------ */

@keyframes toastIn {
  from {
    bottom: -5rem;
  }
  to {
    bottom: 1rem;
  }
}

@keyframes toast {
  from {
    bottom: 1rem;
  }
  to {
    bottom: 1rem;
  }
}

@keyframes toastOut {
  from {
    bottom: 1rem;
  }
  to {
    bottom: -5rem;
  }
}

.toast--success,
.toast--failure {
  /* easeInOutBack */
  animation:
    toastIn 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    toast 2s linear 0.5s,
    toastOut 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 2.5s;
  backdrop-filter: blur(12px) saturate(1.5);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
  position: fixed;
}

.toast--failure {
  background-color: rgb(255, 0, 0, 0.75);
}

.toast-link {
  background-color: deepskyblue;
  border-radius: 0.5rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  display: inline-block;
  font-weight: 700;
  margin-left: 1rem;
  padding: 0.5rem;
}

.toast-link:hover {
  background-color: royalblue;
}

/* Table View */
/* ------------------------------------------------------------------ */

.empty-table-view {
  background-color: gainsboro;
  border-radius: 0.5rem;
  color: gray;
  display: block;
  font-weight: 700;
  padding: 2rem;
}

table {
  background-color: floralwhite;
  border-radius: 0.5rem;
  display: block;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

tr:nth-child(odd):not(:first-of-type) td {
  background: blanchedalmond;
}

tr:nth-child(odd):not(:first-of-type) td:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

tr:nth-child(odd):not(:first-of-type) td:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}

th {
  font-weight: 700;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  text-transform: capitalize;
}

td {
  font-weight: 400;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;
}

.td-active {
  color: green;
}

.td-inactive {
  color: red;
}
